/* .App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .map-selected {
  fill: #e3da37;
}

.map-unselected {
  fill: #699eaa;
}

.map-selected:hover,
.map-unselected:hover {
  cursor: pointer;
} */

svg {
  display: inline-block;
  vertical-align: middle;
}

path {
  fill: #818da5;
}

.App {
  font-family: sans-serif;
  text-align: center;
}