


/* world map */
/* .App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.map-selected {
    fill: #e3da37;
}

.map-unselected {
    fill: #699eaa;
}

.map-selected:hover,
.map-unselected:hover {
    cursor: pointer;
}




@tailwind base;
@tailwind components;
@tailwind utilities;